{{ define "main" }}
{{ .Content }}
<div class="links">
    <ul>
    <li><span class="ascii-border">{{ "#" | strings.Repeat 69 }}</span><br/></li>

    {{- range .Pages -}}
    <li><nobr
        ><span class="ascii-border">#</span
        ><a class="alt" href="{{ .Permalink }}"
            ><span class="ascii-border">&nbsp;&nbsp;</span
            ><h3 style="display: inline">{{ .Title }}</h3
            ><span class="ascii-border">{{ strings.Repeat (sub 70 (add (len .Title) 8 10)) "&nbsp;" | safeHTML }}</span
            ><span>-- {{ .Date | time.Format "01/02/06" }}</span
            ><span class="ascii-border">&nbsp;&nbsp;</span></a
        ><span class="ascii-border">#</span></nobr
    ></li>
    {{- end -}}

    <li><span class="ascii-border">{{ "#" | strings.Repeat 69 }}</span></li>
    </ul>
</div>
{{ end }}

