:root {
    --bg-dark: #131313;
    --bg: #282828;
    --bg-base: #32302f;
    --fg: #fbf1c7;
    --link: #ffc107;
    --border: #908a67;
    --comment: #999;
    --ascii-b: #444;

    scrollbar-color: var(--link) var(--bg-dark);
    height: 100%;
}

.index {
    align-content: center;
}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-family: Iosevka;
    line-height: 1.4;
    font-size: 1.4em;
    padding: 1em;
    margin-bottom: 8em;
}

main {
    margin: 0 auto;
    padding: 2em 0em;
    max-width: 1000px;
}


main h1 {
    text-align: center;
}

a {
    color: var(--link);
}

pre a {
    color: inherit;
}

a:not(:hover) {
    text-decoration: none;
}

.links {
    margin: 0 auto;
}

.links ul {
    list-style: none;
    padding: 0em;
    margin: 0 auto;
}

.links li {
    display: flex;
    justify-content: center;
}

a.alt {
    text-decoration: none;
    text-align: center;

    justify-content: space-between;
}

a.alt h3 {
    font-size: 1em;
    color: var(--fg);
    font-weight: normal;
    text-align: left;
    margin: 0;
    display: inline;
}

a.alt:hover h3 {
    color: var(--link);
    text-decoration: underline;
}

a.alt:focus h3 {
    color: var(--link);
}

a.alt span {
    color: var(--comment);
}

span.ascii-border {
    color: var(--ascii-b);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.about {
    border: 1px var(--border) dashed;
    padding: 1em;
    margin: 1em 0;
}

pre:not(.nocode) {
    margin: 1em 0;
    padding: 0.8em;
    margin-bottom: 2em;
    border: 1px var(--border) solid;

    overflow: scroll;
}

pre, code {
    font-family: Iosevka !important;
}

div.ascii {
    width: 7em;
    margin: 0 auto;
}

div.ascii pre {
    width: 5.4em;
    margin: 0 auto;
}

div.ascii a {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-left:3.2em;
}

nav {
    display: flex;
    flex-wrap: wrap;

    gap: 1.2em;
}

nav.center {
    justify-content: center;
}

nav.center a {
    align-content: center;
}

div {
    margin: 0;
}

div.index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.index div {
    display: inline-block;
    margin-bottom: 1em;
}

td {
    padding-right: 1em;
}

@font-face {
    font-family: Hasklig;
    src: url(Hasklig-Regular.ttf);
}

@font-face {
    font-family: Iosevka;
    src: url(/Iosevka-Regular.woff2);
}


.presentation {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    margin-bottom: 2em;
}

.presentation .ascii {
    width: 80%;
}

.presentation .ascii pre {
    display: block;
    float: right;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.projects div {
    width: calc(50% - 3em);
    padding: 0 1em;
    background-color: var(--bg-dark);
}

.projects div h4 {
    margin-bottom: 0;
}

.projects div p {
    margin-top: 0.4em;
    margin-bottom: 1em;
}
